/* .input-group {
    width: 40%;
  } */
.newsletter-main{
    background-color: #1362C1;
    margin-top:60px;
    height:180px
}
.input-btn{
    border-radius: 20px;
    color: white;
    background-color: orange;
}
.search-input{
    border-radius: 20px;
    padding: 10px;
}