.image{
    padding:15px;
    
}
.comment-sec{
    border-right:4px solid lightgrey;
    /* padding: 15px; */
}
.content{
    padding:15px;
    /* border-bottom: 1px solid lightgrey; */
}
.content hr{
    width: 83%;
}
.content-p{
    color: lightgray;
}
.image img{
    width:70px;
    height:70px;
    border-radius: 50%;
}
.span{
    color: skyblue;
}
.rating{
    color: orange;
    
}